@page
@model LabirintZnanja.Pages.CjenikModel
@{
    ViewData["Title"] = "Cjenik";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Cjenik
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <table class="border w-100 p-1">
            <thead>
                <tr class="border bg-secondary">
                    <th class="tbl-opis">
                        NAZIV USLUGE
                    </th>
                    <th class="tbl-cijena">
                        CIJENA U TJEDNU
                    </th>
                    <th class="tbl-cijena">
                        CIJENA VIKENDOM I PRAZNIKOM
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border">
                    <td>
                        POMOĆ U UČENJU / INSTRUKCIJE
                    </td>
                </tr>
                <tr>
                    <td>
                        45 min
                    </td>
                    <td>
                        14 EUR (105,48 KN)
                    </td>
                    <td>
                        17 EUR (128,08 KN)
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        Mjesečni paketi
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        5 x 45min
                    </td>
                    <td>
                        65 EUR (489,74 KN)
                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="border">
                    <td>
                        8 x 45min
                    </td>
                    <td>
                        100 EUR (753,45 KN)
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        10 x 45min 
                    </td>
                    <td>
                        120 EUR (904,14 KN)
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        12 x 45min
                    </td>
                    <td>
                        144 EUR (1084,96 KN)
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>

                </tr>
                <tr class="border">
                    <td>
                        MALA ŠKOLA
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        45min
                    </td>
                    <td>
                        15 EUR (113,01 KN)
                    </td>
                    <td>
                        18 EUR (135,54 KN)
                    </td>
                </tr>
                <tr class="border">
                    <td>
                    </td>
                    <td>
                        popust 10% na 5 i više sati
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr class="border">
                    <td>
                        HRVATSKI ZA STRANCE
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        60 min
                    </td>
                    <td>
                        25 EUR (188,36 KN)
                    </td>
                    <td>
                        28 EUR (210,96 KN)
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        90 min 
                    </td>
                    <td>
                        37 EUR (278,61 KN)
                    </td>
                    <td>
                        40 EUR (301,38 KN)
                    </td>
                <tr class="border">
                    <td>
                    </td>
                    <td>
                        popust 10% na 5 i više sati
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr class="border">
                    <td>
                        PRIPREMA ZA STRUČNI ISPIT
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        60 min
                    </td>
                    <td>
                        25 EUR (188,36 KN)
                    </td>
                    <td>
                        28 EUR (210,96 KN)
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        90 min
                    </td>
                    <td>
                        37 EUR (278,61 KN)
                    </td>
                    <td>
                        40 EUR (301,38 KN)
                    </td>
                </tr>
            </tbody>
        </table>
        <strong>
            *fiksni tečaj konverzije 1EUR = 7,53450 kn

            NAPOMENA: paketi su iskoristivi u roku od 30 dana.
            Subotom nije moguće koristiti sate plaćene u paketu.

            Dolazak je potrebno otkazati najkasnije 24h ranije, u suprotnom se smatra iskorištenim te je potrebno podmiriti trošak.
        </strong>
    </div>
</div>