@page
@model LabirintZnanja.Pages.CjenikModel
@{
    ViewData["Title"] = "Cjenik";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Cjenik
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <table class="border w-100 p-1">
            <thead>
                <tr class="border bg-secondary">
                    <th class="tbl-opis">
                        Naziv usluge
                    </th>
                    <th class="tbl-cijena">
                        Cijena
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">
                        OSNOVNA ŠKOLA
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        POMOĆ U UČENJU / INSTRUKCIJE 45 MIN
                    </td>
                    <td>
                        100 KN / 13 EUR
                    </td>
                </tr>
                <tr>
                    <td>
                        MJESEČNI PAKET *ISKORISTIV U 30 DANA
                    </td>
                </tr>
                <tr class="border">
                    <td></td>
                    <td>
                        10 SATI - 850 KN / 113 EUR
                    </td>
                </tr>
                <tr class="border">
                    <td></td>
                    <td>
                        12 SATI - 1000 KN / 133 EUR
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>