@page
@model LabirintZnanja.Pages.CjenikModel
@{
    ViewData["Title"] = "Cjenik";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Cjenik
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <table class="border w-100 p-1">
            <thead>
                <tr class="border bg-secondary">
                    <th class="tbl-opis">
                        Naziv usluge
                    </th>
                    <th class="tbl-cijena">
                        Cijena
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">
                        OSNOVNA ŠKOLA
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        POMOĆ U UČENJU 45 MIN
                    </td>
                    <td>
                        80 KN
                    </td>
                </tr>
                <tr>
                    <td>
                        POMOĆ U UČENJU 90 MIN
                    </td>
                    <td>
                        160 KN
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&#8680; PAKET OD MINIMALNO 4 SATA
                    </td>
                    <td>
                        62,50 KN / 45 MIN
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        INSTRUKCIJE U PARU 60 MIN
                    </td>
                    <td>
                        80 KN / OSOBA
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        INSTRUKCIJE U PARU 90 MIN
                    </td>
                    <td>
                        120 KN / OSOBA
                    </td>
                </tr>
                <tr>
                    <td>
                        INSTRUKCIJE SUBOTOM 60 MIN
                    </td>
                    <td>
                        150 KN
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        DOLAZAK KUĆI
                    </td>
                    <td>
                        50 KN
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table class="border w-100 p-1">
            <thead>
                <tr class="border bg-secondary">
                    <th class="tbl-opis">
                        PAKETI ZA ŠKOLARCE
                    </th>
                    <th class="tbl-cijena">
                        CIJENA
                    </th>
                    <th class="tbl-cijena">
                        ISKORISTIVOST
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border">
                    <td>45 MIN</td>
                    <td>&#10515;</td>
                    <td>&#10515;</td>
                </tr>
                <tr>
                    <td>&#9998; 4 X 45 MIN</td>
                    <td>250 KN</td>
                    <td>2 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 6 X 45 MIN</td>
                    <td>370 KN</td>
                    <td>3 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 8 X 45 MIN</td>
                    <td>500 KN</td>
                    <td>3 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 10 X 45 MIN</td>
                    <td>625 KN</td>
                    <td>4 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 12 X 45 MIN</td>
                    <td>750 KN</td>
                    <td>4 TJEDNA</td>
                </tr>
                <tr class="border">
                    <td>90 MIN</td>
                    <td>&#10515;</td>
                    <td>&#10515;</td>
                </tr>
                <tr>
                    <td>&#9998; 4 X 90 MIN</td>
                    <td>500 KN</td>
                    <td>2 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 6 X 90 MIN</td>
                    <td>750 KN</td>
                    <td>3 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 8 X 90 MIN</td>
                    <td>1000 KN</td>
                    <td>3 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 10 X 90 MIN</td>
                    <td>1250 KN</td>
                    <td>4 TJEDNA</td>
                </tr>
                <tr>
                    <td>&#9998; 12 X 90 MIN</td>
                    <td>1500 KN</td>
                    <td>4 TJEDNA</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>