@page
@model LabirintZnanja.Pages.CjenikModel
@{
    ViewData["Title"] = "Cjenik";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Cjenik
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <table class="border w-100">
            <thead>
                <tr class="border bg-secondary">
                    <th>
                        Naziv usluge
                    </th>
                    <th>
                        Cijena
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Instrukcije (individualne)
                    </td>
                    <td>
                        100 kn - 60 min<br />
                        140 kn - 90 min
                    </td>
                </tr>
                <tr class="border">
                    <td>
                        Instrukcije (grupne - do 6 osoba) 90 min
                    </td>
                    <td>
                        100 kn po osobi
                    </td>
                </tr>
                <tr>
                    <td>
                        INSTRUKCIJE U PARU
                    </td>
                    <td>
                        Cijena po paru:
                    </td>
                </tr>
                <tr>
                    <td>
                        - 4 dolaska 45 min / 90 min
                    </td>
                    <td>
                        320 kn / 610 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 8 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        640 kn / 1200 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 12 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        900 kn / 1680 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 16 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        1200 kn / 2240 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 20 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        1400 kn / 2750 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        *Cijena školskog sata po osobi izvan paketa je 45 kn.
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="border-top">
                    <td>
                        MINI BORAVAK
                    </td>
                    <td>
                        Mijesečna cijena paketa:
                    </td>
                </tr>
                <tr>
                    <td>
                        Učenje i pisanje zadaće prije ili poslije škole<br />
                        *minimalan broj polaznika - 3
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        -8 sati rada 1x tjedno po 2 školska sata
                    </td>
                    <td>
                        200 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        -16 sati rada 2x tjedno po 2 školska sata
                    </td>
                    <td>
                        400 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        -24 sati rada 3x tjedno po 2 školska sata
                    </td>
                    <td>
                        600 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        -32 sati rada 4x tjedno po 2 školska sata
                    </td>
                    <td>
                        800 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        -40 sati rada 5x tjedno po 2 školska sata
                    </td>
                    <td>
                        1000 kn
                    </td>
                </tr>
                <tr class="border-top">
                    <td>
                        RAD U MALIM GRUPAMA
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        - 8 dolazaka (2x tjedno) 60 min
                    </td>
                    <td>
                        280 kn
                    </td>
                </tr>
                <tr class="border-top">
                    <td>
                        PAKETI ZA ŠKOLARCE:
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kontinuiran individualni rad s djetetom - poduka
                        svih predmeta
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Za najmanje - vježbamo čitati, pisati i računati
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        - 5 dolaska 45 min / 90 min
                    </td>
                    <td>
                        275 kn / 550 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 8 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        440 kn / 880 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 10 dolazaka 45 min / 90min
                    </td>
                    <td>
                        550 kn / 1100 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 12 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        660 kn / 1320 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 15 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        825 kn / 1650 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        - 20 dolazaka 45 min / 90 min
                    </td>
                    <td>
                        1100 kn / 2200 kn
                    </td>
                </tr>
                <tr>
                    <td>
                        *Cijena školskog sata izvan paketa je 70 kn.
                    </td>
                    <td>
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>