@page
@model IndexModel
@{
    ViewData["Title"] = "Početna stranica";
}

<div class="container">
    <h1>Naslovnica</h1>
    <p>
        Dobrodošli na stranice obrta za usluge i poduke Labirint znanja.

        Orijentirani smo na učenike svih razreda osnovne škole u cilju pomaganja učeniku da lakše i brže svlada školsko gradivo.

        U ponudi imamo individualan rad, rad u malim grupama, instrukcije u paru te svakodnevnu pomoć u učenju i pisanju zadaća poput školskog boravka.
    </p>
</div>
