@page
@model IndexModel
@{
    ViewData["Title"] = "Početna stranica";
}

<div class="container">
    <h1 class="mt-5 mb-5">Dobrodošlica</h1>
    <div class="clanak">
        <p>Centar za pomoć u učenju i instrukcije iz svih predmeta od 1. do 8. razreda osnovne škole.</p>

        <p>Osim što se s nama lakše svlada gradivo, cilj nam je u poticajnoj atmosferi osposobiti dijete za samostalan rad. 
            Naučiti ga organizaciji, koncentraciji, prepoznavanju vlastitih potencijala i svladavanju straha od ispitnih situacija. 
            Uz stručnu pomoc magistre pedagogije fokus nam je usmjeren prema razvijanju pozitivnog stava prema učenju , pisanju zadaća i skoli općenito te stjecanju radnih navika.
        </p>
    </div>
</div>
