@page
@model LabirintZnanja.Pages.PomocUcenjeModel
@{
    ViewData["Title"] = "Pomoć u učenju";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Pomoć u učenju
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <h4>
            Individualni rad
        </h4>
        <p>
            Ovaj program uključuje individualnu poduku svih predmeta osnovne škole. Pomoć u učenju nije predviđena isključivo za
            djecu s poteškoćama, nego za svu djecu koja imaju problem s koncentracijom i organizacijom rada.
            Metode rada prilagođavamo svakom učeniku. Termine dogovaramo isključivo s Vama u dogovoru.
        </p>
    </div>
</div>