@page
@model LabirintZnanja.Pages.PomocUcenjeModel
@{
    ViewData["Title"] = "Pomoć u učenju";
}

<div class="container">
    <h1 class="mt-5 mb-5">
        Pomoć u učenju
    </h1>
    <div class="clanak ml-0 ml-lg-5">
        <h4>
            Individualni rad
        </h4>
        <p>
            Ovaj program uključuje individualnu poduku svih predmeta osnovne škole. Pomoć u učenju nije predviđena isključivo za
            djecu s poteškoćama, nego za svu djecu koja imaju problem s koncentracijom i organizacijom rada.
            Metode rada prilagođavamo svakom učeniku. Termine dogovaramo isključivo s Vama u dogovoru.
        </p>
        <h4>
            Rad u malim grupama
        </h4>
        <p>– do 6 učenika</p>

        <p>
            Ovaj program uključuje učenje i vježbanje školskog gradiva po određenim predmetima.
            Usmjeren je na djecu koja ne zahtijevaju individualan pristup, ali trebaju kontinuiran rad na određenom predmetu.
        </p>

        <p>Za formiranje grupe potrebno je minimalno 3 učenika.</p>

        <p>Uključuje jedan od paketa:</p>

        <p>– svakodnevno učenje i pisanje zadaće prije ili poslije škole u trajanju 2 do 4h poput dnevnog boravka (minimalan broj polaznika za formiranje grupe je 4)</p>
        <p>– učenje po predmetima:</p>
        <p class="ml-2">– matematika</p>
        <p class="ml-2">– engleski jezik</p>
        <p class="ml-2">– hrvatski jezik</p>
        <p class="ml-2">– svladavanje čitanja i pisanja kroz igru za učenike 1. i 2.razreda</p>

    </div>
</div>