@page
@model LabirintZnanja.Pages.Shared.ProgramiModel
@{
    ViewData["Title"] = "Programi";
}


<div class="container">
    <h1 class="mt-5 mb-5">
        Programi
    </h1>
    <h3 class="ml-5 mb-5">
        Pomoć u učenju / Instrukcije
    </h3>
    <div class="clanak ml-0 ml-lg-5">
        <p>
            Ovaj program namijenjen je svim učenicima osnovnih i srednjih škola koji trebaju svakodnevno,
            tijekom cijele školske godine, mjesto gdje će moći neometano učiti i/ili pisati zadaću.
            Naš zadatak je otkriti djetetov stil učenja i tako mu olakšati usvajanje gradiva.
        </p>
        <h4>
            Program obuhvaća:
        </h4>
        <table class="border-0">
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    kontinuirane instrukcije/pomoć u učenju iz svih predmeta za učenike nižih razreda
                    škole te pomoć pri lakšem savladavanju pisanja, čitanja i računanja kao i usvajanje radnih navika
                </td>
            </tr>
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    kontinuirane instrukcije/pomoć u učenju za učenike viših razreda osnovne škole iz matematike,
                    hrvatskog jezika, engleskog jezika, fizike, kemije te ostalih predmeta prema dogovoru
                </td>
            </tr>
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    kontinuirane instrukcije za sve razrede srednje škole iz matematike, hrvatskog jezika,
                    engleskog jezika, fizike, kemije, biologije, te ostalih predmeta prema dogovoru
                </td>
            </tr>
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    kontinuirano pratimo dijete i njegov napredak
                </td>
            </tr>
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    pripremamo ih za pismene i usmene ispite
                </td>
            </tr>
            <tr>
                <td class="align-top">&#8594;</td>
                <td>
                    metode rada prilagođavamo svakom učeniku
                </td>
            </tr>
        </table>
        <p class="font-weight-bold mt-5 mb-5">
            NAČIN RADA: individualno, u paru, rad u malim grupama<br />
            KADA: radnim danom prema dogovoru<br />
            TRAJANJE: 45 minuta (ili dulje)<br />
            CIJENA: razlikuje se ovisno o odabranom načinu rada<br />
        </p>
        <hr />
        <h4 class="mt-5 mb-5">Škola sveznalica</h4>
        <p>-poticanje govorno-jezičnih vještina</p>

        <p>-poticanje vizualne percepcije i logičnog mišljenja</p>

        <p>-poticanje matematičke darovitosti(vježbe, brojanje, nizovi…)</p>

        <p>-razvoj koncentracije i ustrajanosti u određenoj aktivnosti</p>

        <p>-stvaranje radnih navika i pozitivne slike osebi</p>

        <p>NAČIN RADA: individualno ili u grupi</p>

        <p class="font-weight-bold mb-5">CIJENA: razlikuje se ovisno o odabiru načina rada</p>
        <hr />
        <h4 class="mb-5 mt-5">Mini boravak</h4>
        <p>-svakodnevna pomoć u učenju i pisanju zadaća učenicima do 5. razreda</p>

        <p>Mjesečna cijena: 550kn</p>

        <p class="font-weight-bold">Termini:</p>

        <p>jutarnji: 10-12h</p>

        <p>popodnevni: 16-18h</p>

        <p>Prijave na: labirint.znanja@gmail.com ili u inboks</p>

        <p class="font-weight-bold mb-5">Broj mjesta je ograničen</p>
    </div>
</div>