@page
@model LabirintZnanja.Pages.Shared.ProgramiModel
@{
    ViewData["Title"] = "Programi";
}


<div class="container">
    <h1 class="mt-5 mb-5">
        Programi
    </h1>
    <h3 class="ml-5 mb-5">
        POMOĆ U UČENJU / INSTRUKCIJE
    </h3>
    <div class="clanak ml-0 ml-lg-5">
        <p>
            Ovaj program namijenjen je svim učenicima osnovnih škola koji trebaju pomoć u svladavanju gradiva ili poticaj za učenje i rješavanje nejasnoća. 
            Svakodnevno, tijekom cijele školske godine, pružamo mjesto gdje mogu neometano učiti i/ili pisati zadaću  Individualnim pristupom i metodama rada prilagođavamo se svakom pojedinom djetetu.
            Instrukcije se odvijaju u trajanju od 45 minuta ili više prema dogovoru.
        </p>
    </div>

    <h3 class="ml-5 mb-5">
        MALA ŠKOLA
    </h3>
    <div class="clanak ml-0 ml-lg-5">
        <p>
            Program predškole namijenjen djeci od 5 do 7 godina usmjeren na<br />
            -poticanje govorno-jezičnih vještina<br />
            -poticanje vizualne percepcije i logičnog mišljenja<br />
            -poticanje matematičke darovitosti (vježbe, brojanje, nizovi…)<br />
            -razvoj koncentracije i ustrajanosti u određenoj aktivnosti<br />
            -stvaranje radnih navika i pozitivne slike o sebi<br />
            NAČIN RADA: individualno

        </p>
    </div>

    <h3 class="ml-5 mb-5">
        HRVATSKI ZA STRANCE
    </h3>
    <div class="clanak ml-0 ml-lg-5">
        <p>
            Poduke iz hrvatskog jezika za djecu stranaca.
            Poduka se odvija individualno u trajanju od 45 min ili dulje prema dogovoru.
        </p>
    </div>

    <h3 class="ml-5 mb-5">
        PRIPREMA ZA POLAGANJE STRUČNOG ISPITA – usmenog dijela
    </h3>
    <div class="clanak ml-0 ml-lg-5">
        <p>
            Program namijenjen polaznicima stručnih ispita , neovisno o području.
            Uz pronalaženje najefikacije metode učenja i pamćenja pomažemo u svladavanju materije. Učimo s vama, provjeravamo vašu spremnost za izlazak na ispit. 
            Podižemo samopouzdanje i rješavamo straha od ispita.
        </p>
    </div>
</div>